# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

# Backend
DATABASE_URL=postgresql://user:password@db:5432/mydb
CORS_ORIGIN=http://localhost:4173
REDIS_URL=redis://redis:6379/0
ECHO_SQL=false

# Frontend
VITE_API_URL=http://localhost:8000
VITE_PORT=4173
